# Python specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# dbt specific ignores
dbt_modules/
logs/
target/
# Uncomment the line below if you want to ignore all seeds
# data/
# dbt

profiles.yml
.user.yml
.DS_Store
